.font {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  width: 256px;
  height: 256px;
  background-color: black;
  visibility: hidden;

  // &:not(:hover) {
  //   opacity: 0.5;
  // }

  input {
    border: 1px solid white;
    color: black;
    background-color: white;
    width: 100%;
    bottom: 100%;
    position: absolute;
    padding: 0px 2px;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
